<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Собаки</title>
 <style>
   table { 
    width: 100%; 
    border: 4px double black; 
    border-collapse: collapse; 
   }
   th { 
    text-align: left; 
    background: #ccc; 
    padding: 5px; 
    border: 1px solid black; 
   }
   td { 
    padding: 5px; 
    border: 1px solid black; 
   }
  </style>
</head>
<body>
<div th:if="${isUserAuth}">Выйти</div>
<div th:unless="${isUserAuth}">Войти</div>
<div sec:authorize="isAuthenticated()">
    <p>user@ukr.net</p> <a href="/logout">Logout</a>  
</div>

<div sec:authorize="!isAuthenticated()">
    <p>Hello, guest! Please <a href="/login">Login</a> or <a href="/signup">SignUp</a></p> 
</div>
<table border="1" color="black" border-collapse="collapse">
	<tr>
		<td><b>ID</b></td>
		<td><b>Кличка</b></td>
		<td><b>Имя</b></td>
		<td><b>Пол</b></td>
		<td><b>Порода</b></td>
		<td><b>Дата рождения</b></td>
		<td><b>Щенки</b></td>
		<td><b>Добавлено</b></td>
		<td><b>Изменено</b></td>
		</tr>
		<tr>
			<form modelAttribute="dog" th:method="POST" th:object:"${dog}" th:action="@{/}" action="#">
			<td><input type="submit" value="Добавить"/></td>
			<td><input type="text" th:field="*{dog.nickname}" id="dog.nickname"/></td>
			<td><input type="text" th:field="*{dog.name}" id="dog.name"/></td>
			<td><select th:field="*{dog.gender}" id="dog.gender">
    				<option th:each="genderType : ${T(com.example.demo6.entities.Dog.Gender).values()}" 
        				th:value="${genderType}" th:text="${genderType.type}"></option>
				</select></td>
			<td><select th:field="*{dog.breed}" id="dog.breed">
    				<option th:each="breedType : ${T(com.example.demo6.entities.Dog.Breed).values()}" 
        				th:value="${breedType}" th:text="${breedType.type}"></option>
				</select>
			</td>
			<td><input type="date" th:field="*{dog.dateOfBirth}" id="dog.dateOfBirth"/></td>
			<td><input type="text" th:field="*{dog.puppies}" id="dog.puppies"/></td>
			<td></td>
			</form>
			</tr>
<tr th:each="dog : ${dogs}">
       <td th:text="${dog.id}"></td>
       <td th:text="${dog.nickname}"></td>
       <td th:text="${dog.name}"></td>
       <td th:text="${dog.gender.getType()}"></td>
       <td th:text="${dog.breed.getType()}"></td>
       <td th:text="${dog.dateOfBirth}"></td>
       <td th:text="${dog.puppies}"></td>
       <td th:text="${dog.modifiedAt}"></td>
       <td th:text="${dog.createdAt}"></td>
		<br>
 </tr>
 </table>
 
</body>
</html>